* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #050b14;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
  color: #6aa9ff;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.hire-btn {
  background: #4da3ff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 120px 80px;
  gap: 80px;

  background:
    linear-gradient(
      rgba(5, 11, 20, 0.85),
      rgba(5, 11, 20, 0.85)
    ),
    url("assets/bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.hero-left img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #4da3ff;
}

.hero-right h4 {
  color: #4da3ff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.hero-right h1 {
  font-size: 56px;
  margin-bottom: 20px;
}

.hero-right h1 span {
  color: #6aa9ff;
}

.hero-right p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 600px;
}

/* BUTTONS */
.buttons a {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  border: 1px solid #4da3ff;
}

.buttons .cv {
  background: #4da3ff;
  color: black;
  font-weight: bold;
}
